
a {
  color: white;
  text-decoration: none;
}

.container{
  background-color: aqua;
  margin-top: -2.3vh;
  height: 265vh;
}


ul  {
list-style: none;
padding: 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 15vh;

}

li{
  width: 20%;
  background-color: teal;
  text-align: center;
  font-size: 170%;
  height: 5vh;
  line-height: 5vh;
  border-radius: 20px;

}

nav {
  background-color: teal;
  color: antiquewhite;
}

.about{
  background-color: tomato;
  height: 80vh;
  padding-top: 22vh;
  margin-top: 0%;
}

.us{
  background-color: tomato;
  margin-top: 2%;
  height: 80vh;
  padding-top: 20vh;
}
.contact{
  background-color: tomato;
  margin-top: 2%;
  height: 80vh;
  padding-top: 20vh;
}


footer{
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: azure;
  }
