<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <script src="/javascripts/smooth-scroll.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>MGR</title>
</head>     
<body>
    <header ><div class="container-fluid" style="position: fixed; top: 0%; z-index: 1;">
    <nav>
        <div class="row">
        <div class="col-lg-3 col-md-3" style="background-color: green; display: flex; align-items: center; justify-content: space-around; "><a data-scroll href="#"><img src="" alt="">HOla</a></div>    
        <div class="col-lg-9 col-md-9" >
        <ul>
            <li><a data-scroll href="#about">About US</a></li>
            <li><a data-scroll href="#us">Nosotros</a></li>
            <li><a data-scroll href="#contact">Contacto</a></li>
        </ul></div></div></nav>
   </div> </header>
    <div class="container">  
    <article id="about" class="about">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae impedit quidem quam culpa excepturi ut repellat, minus rerum perferendis pariatur eaque est, sapiente obcaecati atque recusandae? Quam aut eaque amet ratione, obcaecati libero officia dolorum porro voluptates magni facere, ipsa quisquam optio aperiam unde et, cumque recusandae quod at doloribus sequi vero modi odio temporibus? Sunt doloremque temporibus a hic culpa praesentium accusamus veniam quo quas perferendis eligendi totam ipsum, ipsa sit saepe illum vitae laudantium dicta quibusdam reiciendis magni. Corporis nihil esse itaque nam rerum a repudiandae alias, consectetur quo repellendus error quis quod saepe, autem enim neque! Voluptatum voluptates perferendis hic quas tempora quis quo soluta officiis laudantium iusto quisquam nemo doloribus, aliquam possimus sequi officia necessitatibus ullam maiores? Illo eaque inventore distinctio fuga voluptas totam quidem excepturi, sequi accusantium minus cum, labore natus quasi ipsum nihil, reprehenderit perferendis atque quam necessitatibus voluptatem vero saepe fugit. Autem perferendis officiis repudiandae recusandae incidunt tempora iure aliquid nihil id voluptatem quae magnam labore ratione, quibusdam voluptas sunt accusamus quidem debitis sit nemo sint alias? Recusandae laboriosam fuga consequatur, molestias est, officiis corporis nesciunt praesentium iure, odit soluta! Cupiditate blanditiis harum adipisci nam excepturi consequuntur provident consequatur totam fugiat deserunt sed commodi modi laborum voluptatibus dolorem, expedita, reprehenderit culpa. Sunt quidem delectus pariatur harum ex molestiae quae amet corrupti distinctio? Nihil facilis obcaecati exercitationem facere beatae amet sunt recusandae atque cum deleniti dolore non impedit dolorum perferendis qui, delectus, ducimus voluptatum quos neque. Nam reiciendis, cupiditate et laudantium numquam iure quae?</p>
    </article>
    <article id="us" class="us">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste optio dolores cupiditate consequuntur illum laborum veritatis dolorum perferendis nesciunt, atque sed deleniti beatae quisquam maxime blanditiis incidunt eum ea possimus eaque. Minima quo architecto hic? Ipsam autem libero porro est quae pariatur quod error et rerum! Doloremque error, aut deleniti omnis voluptas velit ab explicabo fuga aperiam blanditiis ratione itaque ea incidunt harum asperiores reiciendis esse, eum nobis excepturi! Molestias possimus dicta tempore quam doloribus provident est! Quod vitae sint, esse commodi in, nisi consectetur accusamus ducimus neque soluta sapiente doloremque beatae dolores facere maxime tenetur labore nulla quidem pariatur earum explicabo. Modi ut alias ab animi ipsam aliquid sapiente soluta asperiores distinctio repellat perspiciatis, neque unde, id nesciunt ducimus voluptatem doloribus dicta sint nemo doloremque sed tenetur odit provident? Voluptatibus et eos officiis similique? Sequi animi id aliquam debitis quasi repellat impedit aut corporis pariatur nemo architecto, nisi voluptatem magni neque expedita! Nobis in quod earum voluptas eius eum ad! Delectus quos voluptatum incidunt, error dolorum minima dolore distinctio? Debitis maiores ex at architecto. Esse, vitae error expedita excepturi nobis sint tenetur voluptas vero iure odio et cum quaerat voluptatum? Totam, at? Voluptatibus atque vero nesciunt molestiae, reiciendis totam recusandae facere sint numquam voluptatem veniam cum est dolorem eum neque accusantium distinctio maiores aut minus aspernatur rerum odit saepe praesentium? Praesentium autem numquam ratione. Accusamus facere dolorem doloremque eligendi obcaecati fugiat maxime eos numquam nisi rem, adipisci totam asperiores facilis suscipit, harum eius recusandae. Quis deserunt sed dolor explicabo!</p>
    </article>
    <article id="contact" class="contact">
        <p>CONTACT</p>
    </article></div>
    <footer>
        <div>Developed by</div>
    </footer>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]',{
            speed: 1000,
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>